= form_for @content do |f|
  - if @content.errors.any?
    #error_explanation
      %h2= "#{pluralize(@content.errors.count, "error")} prohibited this content from being saved:"
      %ul
        - @content.errors.full_messages.each do |msg|
          %li= msg

  .fieldset
    .story
      .row
        .span10.offset1
          %h3
            Input new record.
          .input
            .field
              = f.label :name
              = f.text_field :name
            .field
              = f.label :body
              = f.text_area :body

            .form-actions
              .input
                = f.submit 'Send', :class => 'btn btn-primary'

