.page-header
  %h2 Index
  %small This is a sample index page.

.admin-index
  .container
    .content
      .row
        .span12
          %table{:class => 'table table-bordered table-striped'}
            %thead
              %tr
                %th
                  ID
                %th
                  Name
                %th
                  Body
                %th
                  Created at
                %th
                  Updated at
                %th
                  Operation
            %tbody
              - @contents.each do |content|
                %tr
                  %td
                    = link_to content.id, content
                  %td
                    = content.name
                  %td
                    = content.body
                  %td
                    = content.created_at.strftime "%Y/%m/%d %X"
                  %td
                    = content.updated_at.strftime "%Y/%m/%d %X"
                  %td
                    = link_to 'Show', content
                    = link_to 'Edit', edit_content_path(content)
                    = link_to 'Destroy', content, :method => :delete, :data => { :confirm => 'Are you sure?' }

          = will_paginate @contents, :renderer => BootstrapPaginationRenderer

  %p.pull-left.pager
    = link_to "Back to Top", root_path
  %p.pull-right.pager
    = link_to 'New', new_content_path

